:root {
  /* Colors */
  --primary-color: #28a745;
  --light-gray: #f4f4f4;
  --gray: #333;
  --dark-gray: #202020;
  --black: #000;
  --white: #fff;
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}
.text-light {
  color: var(--white);
}
.text-dark {
  color: var(--gray-color);
}

/* Text - Sizes */
.primary-heading {
  font-size: 55px;
}
.secondary-heading {
  font-size: 40px;
  font-weight: 100;
}

.sub-heading {
  font-size: 23px;
}

/* Margins */
.marg-y-20 {
  margin: 20px 0;
}

/* Padding */
.pad-20 {
  padding: 20px;
}

.pad-30 {
  padding: 30px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

/* Section */
.section-padding {
  padding: 30px;
}

.section-header,
.team .flex-items {
  text-align: center;
}

.section-header h4,
.section-header h2 {
  text-transform: capitalize;
}

.section-header h4 {
  margin-bottom: 15px;
}

.section-header h2 {
  font-size: 40px;
}

.section-header p {
  margin: 20px 0;
}

/* Container */
.container {
  max-width: 1400px;
  min-height: 100%;
  margin: auto;
  padding: 0 30px;
  position: relative;
}

/* buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--white);
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bg-dark {
  background-color: var(--gray);
  color: var(--white);
}

.bg-light {
  background-color: var(--light-gray);
  color: var(--gray);
}

/* Flex Column*/
.flex-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.column .img-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inner-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .flex-items {
    display: flex;
    justify-content: center;
  }

  .flex-columns {
    flex-wrap: nowrap;
  }

  /* Flex Column*/
  .blog.flex-columns {
    flex-direction: row-reverse;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row .img-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
  }

  /* Section */
  .section-padding {
    padding: 100px 30px;
  }
}
